@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "vazirmatn/Vazirmatn-font-face.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Vazirmatn, Tahoma, 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

[data-flux-main] {
    @apply  p-1 md:p-6 lg:p-8;
}

.prose table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-block: 1em;
    overflow: hidden;
}

.prose table th,
.prose table td {
    border: 1px solid #d4d4d8;
    padding: 0.5rem 0.75rem;
    vertical-align: top;
    min-width: 100px;
}

.prose table th {
    font-weight: 600;
    background-color: #f4f4f5;
}

.dark .prose table th,
.dark .prose table td {
    border-color: #3f3f46;
}

.dark .prose table th {
    background-color: #27272a;
}
